/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- TIPOGRAFÍA --- */
    --font-main: 'Tomorrow';
    --font-size-xxs: 0.6875rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-h3: 1.5rem;
    --font-size-h2: 2.25rem;
    --font-size-h1: 3.75rem;

    /* --- GEOMETRÍA --- */
    --radius-small: 5px;
    --radius-medium: 3px;
    --radius-large: 0px;
    --radius-pill: 9999px;

    /* --- EFECTOS --- */
    --blur-base: 12px;
    --shadow-light: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    --shadow-dark: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    /* --- COLORES (CANALES RGB PUROS) --- */

    /* MODO CLARO (Light) */
    --color-background: 243 247 253;
    --color-panel-bg: 255 255 255;
    --color-text-primary: 26 26 26;
    --color-text-secondary: 102 102 102;
    --color-border: 0 0 0;
    --color-grid-line: 0 0 0;
  }

  .dark {
    /* MODO OSCURO (Dark) */
    --color-background: 31 34 37;
    --color-panel-bg: 31 34 37;
    --color-text-primary: 234 234 234;
    --color-text-secondary: 145 148 151;
    --color-border: 145 148 151;
    --color-grid-line: 255 255 255;
  }
}

@layer base {
  body {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text-primary));
    font-family: var(--font-main), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden; /* Previene scroll horizontal */
  }
}

@layer components {
  .container-wide {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  .container-narrow {
    @apply mx-auto w-full max-w-4xl px-4 sm:px-6 lg:px-8;
  }

  .glass-panel {
    background-color: rgb(var(--color-panel-bg) / 0.25);
    backdrop-filter: blur(var(--blur-base));
    -webkit-backdrop-filter: blur(var(--blur-base));
    border: 1px solid rgb(var(--color-border) / 0.22);
    box-shadow: var(--shadow-light);
  }

  .dark .glass-panel {
    box-shadow: var(--shadow-dark);
    border: 1px solid rgb(var(--color-border) / 0.22);
  }

  /* HALO EFFECT */
  .group:hover .halo-effect {
    opacity: 1;
  }

  .halo-effect {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    box-shadow:
      inset 0 0 0 1.5px rgb(var(--color-text-primary) / 0.5),
      0 0 25px 0 rgb(var(--color-text-primary) / 0.2);
  }
}

/* --- UTILIDADES DE ATMÓSFERA (Opcional para Hero) --- */
.light-atmosphere {
  display: block;
}

.dark .light-atmosphere {
  display: none;
}

.dark-atmosphere {
  display: none;
}

.dark .dark-atmosphere {
  display: block;
}
