---
// src/pages/index.astro
// RESPONSABILIDAD: Ensamblar las secciones de la página en el orden correcto.
import About from '@/components/sections/About.astro';
import Career from '@/components/sections/Career.astro';
import Certifications from '@/components/sections/Certifications.astro';
import Contact from '@/components/sections/Contact.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Badge from '@/components/ui/Badge.astro';
import Layout from '@/layouts/Layout.astro';
// <-- Importamos la sección de proyectos
---

<Layout title="[Tu Nombre] | Portfolio Profesional">
  <main>
    <!-- 
      SECUENCIA NARRATIVA CORRECTA:
      Cada sección es un "hermano" del siguiente, no un "hijo".
    -->
    <Hero />
    <About />
    <Projects />
    <Career />
    <Certifications />
    <div class="flex gap-4">
      <Badge text="Full Time" variant="accent" />
      <Badge text="Contract" variant="accent" />
    </div>
    <Contact />
    <!-- Aquí irán las futuras secciones como <Contact /> -->
  </main>
</Layout>
