
---
import Layout from '@/layouts/Layout.astro';
// Aún no tenemos el ThemeToggle, lo añadiremos después.
---
<Layout title="[Tu Nombre] | Software Developer">
  <main>
    <!-- Aquí es donde empezaremos a construir. -->
    <div class="min-h-screen flex justify-center items-center">
      <h1 class="text-4xl font-bold" style="font-weight: 700;">
        // INICIO DEL SISTEMA
      </h1>
    </div>
  </main>
</Layout>