---
// src/components/AnimatedArrowIcon.astro
// Este componente ahora es 100% Astro. Cero JavaScript, cero React.
// La animación es manejada por CSS puro a través de clases de Tailwind.
---

<div class="icon-container relative h-[1em] w-[1em]">
  <!-- 
    Hemos reemplazado los componentes de React por SVGs en línea.
    `currentColor` asegura que hereden el color del texto del botón padre.
  -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon-base absolute transition-all duration-300 ease-in-out group-hover:translate-y-2 group-hover:opacity-0"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="1.0"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon-base absolute -translate-y-2 opacity-0 transition-all duration-300 ease-in-out group-hover:translate-y-0 group-hover:opacity-100"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="1.0"
    style="transform: rotate(90deg);"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
  </svg>
</div>
