---
import ThemeManager from '@/components/ThemeManager.astro'; // Lo crearemos en el siguiente paso
import '@/styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de [Tu Nombre]" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
    {/* El ThemeManager DEBE estar en el <head> para prevenir el parpadeo */}
    <ThemeManager />
	</head>
	<body>
		<slot />
	</body>
</html>