---
import ThemeManager from '@/components/ThemeManager.astro';
import Navbar from '@/components/Navbar.astro';
import MobileMenu from '@/components/MobileMenu.astro';
import '@/styles/global.css';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio de [Tu Nombre]" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ThemeManager />
  </head>
  <body>
    {/* El Navbar y el MobileMenu son elementos globales del layout */}
    <Navbar />
    <MobileMenu />
    <slot />
  </body>
</html>
