---
import ThemeManager from '@/components/ThemeManager.astro';
import ThemeToggle from '@/components/ThemeToggle.astro'; // <-- Importamos el nuevo componente
import '@/styles/global.css';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <ThemeManager />
  </head>
  <body>
    <!-- 
      Colocamos el ThemeToggle en una posición fija,
      por ejemplo, en la esquina superior derecha.
    -->
    <div class="fixed right-4 top-4 z-50">
      <ThemeToggle />
    </div>
    <slot />
  </body>
</html>
