---
// src/components/ui/Links.astro
const links = [
  { name: 'Sobre mi', href: '#about' },
  { name: 'Proyectos', href: '#projects' },
  { name: 'Trayectoria', href: '#career' },
  { name: 'Contacto', href: '#contact' },
];

interface Props {
  ulClass?: string;
  aClass?: string;
}

const { ulClass, aClass } = Astro.props;
---

<ul class:list={['flex items-center gap-x-8', ulClass]}>
  {
    links.map((link) => (
      <li>
        <a
          href={link.href}
          class:list={[
            'whitespace-nowrap font-sans text-sm uppercase tracking-wider text-text-secondary transition-all duration-300 ease-out hover:text-text-primary',
            aClass,
          ]}
        >
          {link.name}
        </a>
      </li>
    ))
  }
</ul>
